main li {
    margin-top:8px;
    height:44px;
    padding-top:15px;
}

 li.testtimer {
    background: url("tests/timer_small.png") no-repeat;
    display:block;
    width:200px;
    height:33px;
    margin:10px 0 0 405px;
    font-size: 24px;
    padding: 6px 0 0 40px;
    display:none;
}

 .start_button {
    background: url("tests/start.png") no-repeat 0 0;
    height: 54px;
    width:106px;
    cursor:pointer;
    margin-left:405px;
}
 .start_button:hover {
    background: url("tests/start.png") no-repeat -106px 0;
}

.start_button:active {
    background: url("tests/start.png") no-repeat -212px 0;
}

li.topbar_buttons {
    margin:0;
    height:54px;
    padding:0;
	/*width:100%;*/
}

.up {
    height: 54px;
    padding:0;
}

.ltask {
    font-size:20px;
    padding-left:20px;
    font-weight:bold;
}

.lesson {
    margin: 15px 0 49px;
}

.ctask h2 {
    font-size:20px;
    font-weight:bold;
    
}

.t_answer {
    clear:both;
    float:left;
    margin-top:5px;
}

.t_answers {
    margin-top:15px;
}

.t_answer .t_left {
    background: url("tests/t_answ_edge.png") no-repeat 0 0;
    height:40px;
    float: left;
    width:8px;
}

.t_answer .t_right {
    background: url("tests/t_answ_edge.png") no-repeat -8px 0;
    height:40px;
    float: left;
    width:8px;
}

.t_answer .t_mid {
    background: url("tests/t_answ_center.png") repeat-x 0 0;
    float: left;
    height:33px;
    padding-top:7px;
    font-size:16px;
    cursor:pointer;
}

.t_answer.active .t_left {
    background: url("tests/t_answ_edge.png") no-repeat 0 -80px;
}

.t_answer.active  .t_right {
    background: url("tests/t_answ_edge.png") no-repeat -8px -80px;
}

.t_answer.active  .t_mid {
    background: url("tests/t_answ_center.png") repeat-x 0 -80px;
}

.t_answer.active:hover .t_left {
    background: url("tests/t_answ_edge.png") no-repeat 0px -80px;
}

.t_answer.active:hover  .t_right {
    background: url("tests/t_answ_edge.png") no-repeat -8px -80px;
}

.t_answer.active:hover  .t_mid {
    background: url("tests/t_answ_center.png") repeat-x 0 -80px;
}

.t_answer:hover .t_left {
    background: url("tests/t_answ_edge.png") no-repeat 0px -40px;
}

.t_answer:hover  .t_right {
    background: url("tests/t_answ_edge.png") no-repeat -8px -40px;
}

.t_answer:hover  .t_mid {
    background: url("tests/t_answ_center.png") repeat-x 0 -40px;
}

.testcompleted.popup {
    background: url("tests/test-completed.png") no-repeat scroll 0 0 transparent;
    display: none;
    left: 50%;
    margin-left: -267px;
    margin-top: -100px;
    position: fixed;
    top: 50%;
    z-index: 1000;
}

.testcompleted {
    font: 13px arial;
    height: 325px;
    margin: 0 auto;
    position: relative;
    width: 533px;
}

.testcompleted.popup .close {
    cursor: pointer;
    float: right;
    height: 20px;
    margin: 20px 21px;
    width: 17px;
}

.testcompleted.popup .est_percent {
    margin-top: 116px;
    height: 70px;
    text-align:center;
    font-size:18px;
    font-family: Times New Roman;
    position:relative;
}
.testcompleted.popup .est_percent div {
    display: block;
}
.est_percent .percent {
    font-size:70px;
    position:absolute;
    left:150px;
    width: 150px;
    text-align: right;
    font-weight: bold;
}
.est_percent .percent_sign {
    position:absolute;
    left:303px;
    top: 29px;
    font-weight: bold;
    font-size: 24px;
}

.testcompleted.popup .est_time,.rlesson .est_time {
    height: 27px;
    text-align:center;
    font-size:14px;
    font-style: italic;
    font-family: Times New Roman;
    font-weight: bold;
}


.lesson.testpage {
    margin: 15px 0 0;
    height:40px;
}
.header_buttons div {
    display: inline-block;
}
.header_buttons .test_btn {
    background: url("tests/red_test_bg.png") transparent no-repeat 0 2px;
    color:#000;
    font-weight: bold;
    font-size: 16px;
    height: 18px;
    width:39px;
    text-align:center;
    cursor:pointer;
}

.show_results {
    color: #999;
    font-size: 16px;
    margin-left:10px;
}

.show_results.active:hover {
    color: #DB0A0A;
}

.show_results.active {
    color: #036;
    text-decoration: underline;
    cursor:pointer;
}
.testcompleted .show_results {
    font-size:15px;
    text-align:center;
    padding-right:10px;
}

.testcompleted .share_btns {
    margin-top: 20px;
    height: 30px;
    text-align: center;
}

.clesson h1 {
    margin-bottom:3px;
}
.rlesson {
    position: relative;
}

.rlesson.hide {
    display:none;    
}

.rlesson .percent {
    position: inherit;
}

.rlesson .percent_sign {
    left:150px;
    top: 50px;
}
.rlesson .est_time{
    padding-left:30px;
}
.rlesson .last_result_text {
    text-align:center;
    font-family: Times New Roman;
    font-size:18px;
    padding-left:30px;
}
/*.clesson {
    height:130px;
}*/

.achiv_block {
    float: left;
}

.testresults {
    padding-left:100px;
    font-family: Times New Roman;
}

section ul {
    list-style: none;
    margin-left:60px;
	overflow: visible;
}

 section ul li {
    float: left;
    text-align:center;
    margin-top: 20px;
    width:225px;
    height:280px;
    background: url("..\\img\\ah_1.png") no-repeat center top;
    font-family: Times New Roman;
    position:relative;
}




.text_block {
    font-size:16px;
    font-style: italic;
    margin-top:50px;
}

.text_block a {
    font-size: 22px;
    font-style: normal;
    margin-bottom:5px;
}

.text_block div {
    padding-bottom: 3px;
}

.not_started .text_block  {
    margin-top: 158px;
}

.countdown {
    font-size: 36px;
}

#head{
    font-size: 36px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#buttons button{
    margin-bottom: 15px;
    font-size: 24px;
}
.quiz_footer{
    margin: 46px;
    font-size: 24px;

}

div h1  {
    font-size: 36px;
}
/*
body, html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    font-family: helvetica, arial;
    /*background: #f9f9f9;*/
    color: #111;
}*/

.wrapper
{
    width: 100%;
    height: 100%;
    display: table;
}

.main
{
    /*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
}

.quiz-frame
{
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.quiz__head
{
    font-size: 20pt;
    margin: 10px;
    margin-bottom: 50px;
}

.head__content 
{
    padding: 5px;
}

.quiz__body
{
    margin: 10px;
}

.quiz__footer 
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
}

.footer__content 
{
    padding: 5px;
}

.button
{
    border: 0;
    border-radius: 10px;
    background: #6477EB;
    color: #fff;
    padding: 10px 25px;
    width: 70%;
    font-size: 15pt;
    display: block;
    margin: 2px auto;
    cursor: pointer;
}

.button_wrong 
{
    background: #EB6465;
}

.button_correct
{
    background: #5EB97D;
}

.button_passive
{
    background: #B3B3B3;
}